<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class='smartphoneTopMargin'></div>

<div class='smartphone'>

    <div class='agent'>
      <%= image_tag("agent.png", size: "38") %>
      <span style="padding-left: 5px;"><b>Sarah (Kundensupport)</b></span>
    </div>

  <div class='screen'>
    <ul class='conversation'>
    </ul>
  </div>

  <%= form_tag user_sendMessage_path,remote: true do %>
  <div id="responseWrapper">
    <div class="quickResponseContainer"></div>
    <div id="sendWrapper">
      <%=text_field_tag "message_input_field", nil,placeholder: "Schreiben Sie z.B. 'Hallo'..."%>
      <%=hidden_field_tag "messageContexts"%>
      <%=button_tag "name", id: "send_message_button" do%>SENDEN
      <%end%>
  <%end%>
    </div>
  </div>

<%= javascript_include_tag "resizeView" %>

</div>
